@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  p {
    @apply font-light;
  }
}

html {
  scroll-behavior:smooth;
}
*,
body {
  overflow-x:hidden;
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}
ion-icon {
  color: #6B2D30;
}

#email::placeholder {
  color: #891110;
}

