@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Neuton:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Judson:wght@700&family=Neuton:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;

  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  p {
    @apply font-light;
  }
}

html {
  scroll-behavior:smooth;
}

*,
body {
  /* overflow-x:hidden; */
  padding:0;
  font-family: 'Poppins', sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
svg {
  color:
}
p {
  font-wight:100px;
}
.judson {
  font-family: 'Judson', serif;
}

.greyer {
  color:#5a5a5a;
}

.marooner {
  color:#6B2D30;
}

.bluer {
  color:#06294D;
}
#whiter{
  color:#ffffff;
}
.icon:hover {
  transition: transform 0.3s;
  transform: rotate(180deg);
}
/* Display the dropdown when the parent is hovered */
.group:hover .group-hover\:block {
  display: block;
}



body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#email::placeholder {
  color: #cccccc;
}
#studyLevel::placeholder {
  color: #cccccc;
}

/* slider*/

.slider {
  --slider-items: 1;
  --item-gap: 12px;

  margin-block-start: 60px;
  overflow: hidden;
}

.slider-container {
  position: relative;
  display: flex;
  gap: var(--item-gap);
  transition: transform var(--cubic-ease-out);
}

.slider-item {
  --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
  --item-width: calc((100% / var(--slider-items)) - (var(--total-gap) / var(--slider-items)));

  min-width: var(--item-width);
  width: var(--item-width);
}

.slider-control {
  position: relative;
  max-width: max-content;
  padding-block: 8px;
  opacity: 0.5;
}

.slider-control .line {
  width: 30px;
  height: 1px;
  background-color: var(--white);
}

.slider-control .arrow {
  position: absolute;
  transform: translateY(-60%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: var(--white);
}

.slider-control.prev .arrow {
  left: 0;
  border-width: 0 0 1px 1px;
}

.slider-control.next .arrow {
  right: 0;
  border-width: 1px 1px 0 0;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-block-start: 40px;
}

.service-card {
  position: relative;
  background-color: var(--white);
  height: 100%;
  padding: 0px 40px 10px;
  transition: var(--transition-2);
}

.service-card .card-icon ion-icon {
  color: var(--content-color, var(--raisin-black));
  font-size: 6rem;
  --ionicon-stroke-width: 15px;
}

.service-card .card-title {
  color: var(--content-color, var(--raisin-black));
  margin-block: 20px;
}

.service-card .card-text {
  color: var(--content-color);
}

.service-card .card-number {
  margin-inline-start: auto;
  font-weight: var(--fw-800);
  line-height: 0.6;
  max-width: max-content;
  margin-block-start: 32px;
  -webkit-text-stroke: 1px var(--content-color, var(--black));
  -webkit-text-fill-color: transparent;
  opacity: 0.3;
}

.service-card:is(:hover, :focus-within) {
  background-color: var(--raisin-black);

  --content-color: var(--white);
}
.layer-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Animation on stats */
.antialiased{
    /* background: #2980b9 url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUKQJAhanR0X-dQ0gFNhDNDEAqt-Z4F7ye7A&usqp=CAU') repeat 0 0; */
    background: #2980b9 url('https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHdoaXRlJTIwZ3JleXxlbnwwfHwwfHx8MA%3D%3D') repeat 0 0;
    /* background: #2980b9 url('https://www.shutterstock.com/image-vector/white-grey-background-abstract-modern-260nw-1385365202.jpg') repeat 0 0; */
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;

}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

/* whatsapp */
.whats-float {
  position: fixed;
  transform:translate(108px,0px);
  top:79%;
  right:0;
  width:150px;
  overflow: hidden;
  background-color: #25d366;
  color: #FFF;
  border-radius: 2px 0 0 2px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  vertical-align: middle
}
.whats-float a span {
  color: white;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 10px;
  position: absolute;
  line-height: 16px;
  font-weight: bolder;
}

.whats-float i {
  font-size: 30px;
  color: white;
  line-height: 30px;
  padding: 10px;
  transform:rotate(0deg);
  transition: all 0.5s ease-in-out;
  text-align:center;

}

.whats-float:hover {
  color: #FFFFFF;
  transform:translate(0px,0px);
}

.whats-float:hover i  {
  transform:rotate(360deg);
}
